.env
env
/data/Classificacao-de-imagens-1
/src/yolov*
/src/runs
/data/images
/data/audio
/src/__pycache__
/notebooks/Project-Classification-Images-1
/notebooks/yolov9
/notebooks/PaddleOCR
/src/audio
/src/moondream
